/*********************ALL STYLES START*************************** */

html {
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
 }

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    font-size: 16px;
    color: #000000;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: 1024px) {
        max-width: 100%;
        }
}

// .section {
//     padding: 75px 0 75px 0;
// }

// .section-title {
//     font-family: Forum;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 80px;
//     line-height: 90px;
//     letter-spacing: 5px;
//     text-transform: uppercase;
//     color: #ffffff;
//     @media screen and (max-width: 1024px) {
//         font-size: 50px;
//     }
    
//     &::after {
//         content: "";
//         width: 100%;
//         height: 3px;
//         background-color: #710707;
//         display: block;
//         margin: 25px 0 75px 0;
//     }
// }

// .section-title--gold {
//     position: relative;
//     color: #9D8665;
// }

// .section-title--white {
//     font-size: 80px;
//     line-height: 90px;
//     color: #FFFFFF;
// }

// .section--no-padding {
//     padding: 0;
// }

// .section--background-dark {
//     background-color: #030303;
// }

 /**************************************ALL STYLES END**********************************/

 /******************************************HEADER STYLES START*************************/

.header {
    padding: 58px 0 58px 0;
    background: #000000;
    @media screen and (max-width: 1024px){
        padding: 48px 0;
    }
    @media screen and (max-width: 768px) {
        padding: 35px 0;
    }
}

.logo__img {
    width: 199px;
    height: 33px;
    @media screen and (max-width: 420px) {
        width: 131px;
        height: 22px;
    }
}

.top-menu {
    @media screen and (max-width: 1024px){
        display: none;
    }
}

.burger {
    display: none;
    @media screen and (max-width: 1024px){
    display: block;
    }
}

.header__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.top-menu__list {
    display: flex;
    justify-content: space-between;
}

.top-menu__item {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #ffffff;
}

.top-menu__item:not(:last-child) {
    margin-right: 55px;
}

.top-menu__link {
    color: #ffffff;
}

/******************************************HEADER STYLES END**************************************/

