@import "ather-scss/media";

/*********************ALL STYLES START*************************** */

html {
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
 }

body {
    font-family: Roboto;
    font-weight: 300;
    line-height: 1.2;
    font-size: 16px;
    color: #000000;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    @include media-laptop {
        max-width: 100%;
    }
}

.section {
    padding: 75px 0 75px 0;
    
    &--no-padding {
    padding: 0;
    }

    &--background-dark {
    background-color: #030303;
    }
}

.section-title {
    font-family: Forum;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    @include media-laptop {
        font-size: 50px;
    }
    
    &::after { //линия подчеркивающая title
        content: "";
        width: 100%;
        height: 3px;
        background-color: #710707;
        display: block;
        margin: 25px 0 75px 0;
    }
    
    &--gold {
    position: relative;
    color: #9D8665;
    }
    
    &--white {
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;
    }

}






 /**************************************ALL STYLES END**********************************/


 /******************************************HEADER STYLES START*************************/

.header {
    padding: 58px 0 58px 0;
    background: #000000;
    @include media-laptop {
        padding: 48px 0;
    }
    @include media-tablet {
        padding: 35px 0;
    }
}

.header__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 199px;
    height: 33px;
    @include media-mobile {
        width: 131px;
        height: 22px;
    }
}

.burger {
    display: none;
    @include media-laptop {
        display: block;
    }
}

.top-menu {
    color: #ffffff;
    @include media-laptop {
        display: none;
    }
}

.top-menu__list {
    display: flex;
    justify-content: space-between;
}

.top-menu__item {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    &:not(:last-child) {
        margin-right: 55px;
    }
    
}

.top-menu__link {
    color: inherit;
}

/******************************************HEADER STYLES END**************************************/

/******************************************WElCOME STYLES START***********************************/

.welcome {
    @include media-tablet {
        padding-bottom: 30px;
    }
    @include media-mobile {
        padding-bottom: 20px;
    }
    
}

.slider.theme-slider-welcome.welcome__background {
    position: relative;
    background: url("../img/mona_lisa.png") top right no-repeat;
    padding: 150px 0 272px 0;
    @include media-laptop {
        background-size: 700px ;
        padding: 50px 0 192px 0;
    }
    @include media-tablet {
        background-size: 0px 0px;
        padding: 0px 0 0px 0;
    }
}

.slider.theme-slider-welcome .slide__title {
    margin-bottom: 25px;
    font-family: Forum;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    @include media-laptop {
        font-size: 50px;
    }
    @include media-tablet {
        text-align: center;
        font-size: 40px;
        line-height: 60px;
    }
    @include media-mobile {
        text-align: center;
        font-size: 28px;
        line-height: 40px;
    }
}

.slider.theme-slider-welcome .slide__description {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 75px;
    @include media-laptop {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    @include media-tablet {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
    @include media-mobile {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
}

.slide__mona-lisa-backgrond {
    display: none;
    @include media-tablet{
        display: block;
        box-sizing: content-box ;
        max-width: 100%;
        padding: 273px 0;
        margin-bottom: 30px;
        background: url("../../assets/img/mona728.png") 50%/cover no-repeat;
    }
}

.slider.theme-slider-welcome .slide__button {
    display: inline-block;
    background-color: #710707;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    padding: 25px 64px;
    
    @include media-laptop {
        font-size: 20px;
        line-height: 23px;
        padding: 21px 43px;
    }
    
    @include media-tablet {
        display: none;
    }
}

.slider.theme-slider-welcome .controls {
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;
    bottom: 0;
    right: 0;
    padding: 40px 75px;
    background-color: #030303;
    
    @include media-laptop {
        padding: 40px 75px 40px 224px;
    }
    @include media-tablet {
        position: static;
        margin: 0 auto;
        padding: 0;
    }
}

.controls__child {
    &:not(:last-child) {
        margin-right: 60px;
        @include media-laptop {
            margin-right: 37px;
        }
        @include media-mobile {
            margin-right: 25px;
        }
    }
}

.slider.theme-slider-welcome .scoreboard {
    display: flex;
    justify-content: space-between;
}

.slider.theme-slider-welcome .scoreboard__item {
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;

    &:not(:last-child) {
        margin-right: 10px;
    }

    @include media-laptop {
        font-size: 20px;
        line-height: 40px;
    }

    @include media-mobile {
        font-size: 16px;
        line-height: 40px;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.slider.theme-slider-welcome .scoreboard__separator {
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    align-self: center;
    @include media-mobile {
        width: 1px;
        height: 16px;
    }
}

.slider.theme-slider-welcome .pagination {
    display: flex;
}

.slider.theme-slider-welcome .pagination__button {
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background: #ffffff;

    &:not(:last-child) {
        margin-right: 25px;
    }
    
    &--active {
    background: #D2B183;
    }
    @include media-laptop {
        width: 12px;
        height: 12px;
    }
    @include media-mobile {
        width: 7px;
        height: 7px;
        &:not(:last-child) {
            margin-right: 10px;
        }

    }
}

.slider.theme-slider-welcome .nav {
    display: flex;
}

.slider.theme-slider-welcome .nav__item {
    padding: 0;
    border: 0;
    background-color: transparent;
    &:not(:last-child) {
        margin-right: 20px;
    }

    @include media-mobile {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.nav__img {
    width: 30px;
    height: 8px;
    @include media-mobile {
        width: 20px;
    }
}




/* *****************************************WElCOME STYLES END************************************* */

